@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

html, body{
    background: url('../img/bg4.jpg') center no-repeat;
    height: 100%;
    background-size: cover;
}

#logo{
    text-align: center;
    padding-top: 20px;
}

#img img{
    text-align: center;
    padding-top: 40px;
    width: 28%;
    height: 28%;
}

.about{
    font-family: 'Ubuntu', sans-serif;
    padding-top: 40px;
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 200px;
    padding-top: 40px;
    width: 58.5%;
    height: 58.5%;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .about-content .right a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: crimson;
    background: none;
}
